<div class="container">
  <div class="row m-3">
    <div class="col p-3">
      <h5>Followers List  〈 <%= @users.count %> 〉</h5><br/>
        <div class="row">
        <% @users.each do |user| %>
          <div class="col-md-4 mb-3">
            <%= image_tag user.get_icon_image(100,100), class: "icon" %>
            <br>
            <%= user.user_name %>
            <br>
            <%= link_to "Look", user_path(user.id), class: "button-14", role: "button", style: "margin-top: 2px;" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>