
<div class="container">
  <div class="row m-5 justify-content-center">
    <div class="col text-center">
      <h1>本当に退会しますか？</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col text-center">
      <p>
        退会するとユーザーの情報が全て削除され<br>
        一度退会すると元には戻せなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。
      </p>
    </div>
  </div>
  <div class="row m-3 justify-content-center">
    <div class="col-4 text-center">
      <br>
      <br>
      <%= link_to '退会しない', users_mypage_path %>
      <%= link_to '退会する', users_withdraw_path, method: :patch, data: { confirm: "本当に退会しますか？" } %>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>