<div class="container">
  <div class="row m-5 justify-content-center">
    <div class="col text-center">
      <h5>退会のお手続き</h5>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col text-center">
      <p>
        ※ご確認ください
        <br>
        <br>
        アカウントが削除されると、そのアカウントはTeach me!で利用できなくなります。
        <br>
        また、過去のアカウントを復活させたり、以前の投稿にアクセスしたりすることもできなくなります。
        <br>
        <br>
        退会する場合は、「退会する」をクリックしてください。
      </p>
      
      <br>
      <br>
      
      <ul>
        <li><%= link_to '退会しない', user_path(current_user) %></li>
        <li>|</li>
        <li><%= link_to '退会する', users_withdraw_path, method: :patch, data: { confirm: "本当に退会しますか？" } %></li>
      </ul>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>