<div class="container">
  <div class="row m-3">
    <div class="col p-3"><h1>Favorite list</h1>
      <% if @favorite_posts.present? %>
        <% @favorite_posts.each do |post| %>
          <%= image_tag post.get_image(350,350) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>