<div class="container">
  <div class="row m-3">
    <div class="col p-3"><h1>Favorite list</h1>
      
      <% if @favorite_posts == [] %>
      <%= @favorite_posts_none %>
      <% end %>
      
      <% if @favorite_posts.present? %>
        <% @favorite_posts.each do |post| %>
        　<%= link_to post_path(post.id) do %>
          　<%= image_tag post.get_image(350,350) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>