<div class="container">
  <div class="row m-3">
    <div class="col p-3">
              
      <h1>GroupRooms#show</h1>
      <p>Find me in app/views/group_rooms/show.html.erb</p>
        <div class="group_room-show">
          <div class="show-group_room-chat-back">
            <span class="group_room-show-group_room-chat-back">
            <%= link_to group_rooms_path do %>
              ＜
            <% end %>
            </span>
          </div>
        
          <div class="chat-group_room-show-talk">
            トーク
          </div>
        </div>
        
    </div>
  </div>
</div>