<div class="container">
  <div class="row m-3">
    <div class="col p-3">
      
        <div class="main-text">
          <div class="text-content">
            <br>
            <h1>About</h1>
            <br>
            <br>
            <p>スクールを卒業後、転職先に同期がいなくて孤独を感じている時、</p>
            <br>
            <p>周りの先輩に追いつきたくて毎日頑張っているけど心が折れそうな時、</p>
            <br>
            <p>励まし合ったり高め合える仲間が欲しい時、</p>
            <br>
            <p>『新しくwebシステムを作成したけど誰かに見て欲しいな』</p>
            <br>
            <p>『他のメンバーはどんなシステムを作っているんだろう？』</p>
            <br>
            <p>心の支えとして、チームのような高め合える場として</p>
            <br>
            <p>気軽に集まれるSNSでありますように。</p>
            <br>
            <br>
          </div>
        </div>
        
        <div class="background_image"><%= image_tag 'About.png', size:'400x400' %></div>
    </div>
  </div>
</div>