
<header id="header">
  <div class="main-text">
          <div class="text-content">
            <h1>About</h1>
            <p>スクールを卒業後、転職先に同期がいなくて孤独を感じている時、</p>
            <p>周りの先輩に追いつきたくて毎日頑張っているけど心が折れそうな時、</p>
            <p>励まし合ったり高め合える仲間が欲しい時、</p>
            <p>『新しくwebシステムを作成したけど誰かに見て欲しいな』</p>
            <p>『他のメンバーはどんなシステムを作っているんだろう？』</p>
            <p>心の支えとして、チームのような高め合える場として</p>
            <p>気軽に集まれるSNSでありますように。</p>
          </div>
        </div>
    <div id="video-area">
  <video id="video" poster="/videos/trees.mp4" webkit-playsinline playsinline muted autoplay loop>
    <!--
        poster：動画ファイルが利用できない環境で代替表示される画像
        webkit-playsinline：iOS 9までのSafari用インライン再生指定
        playsinline：iOS 10以降のSafari用インライン再生指定
        muted：音声をミュートさせる
        autoplay：動画を自動再生させる
        loop：動画をループさせる
        controls：コントロールバーを表示する
    -->
  <source src="/videos/trees.mp4" type="video/mp4">
  <p>動画を再生できる環境ではありません。</p>
  </video>
    <!--/video-area--></div>
</header>
<div id="container">
<p>ここにコンテンツが入ります</p>  
<!--/container--></div>