<div class="container">
  <div class="row m-3">
    <div class="col p-3">
      <h1 class="rooms-title">friends</h1>
      <% if @mutual_followings.any? %>
        <ul>
          <% @mutual_followings.each do |user| %>
            <li>
              <%= image_tag user.get_icon_image(100,100), class:"icon" %>
              <%= link_to user.user_name, user_path(user) %>さん
              <% if current_user != user %>
                <%= link_to 'chatへ', room_chat_path(user.id)%>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>相互フォローユーザーはいません。</p>
      <% end %>
    </div>
  </div>
</div>