<h1>All users time line</h1>
<p>Find me in app/views/posts/index.html.erb</p>


      <div class="row">
        <% @posts.each do |post| %>
          <div class="col-3">
            <%= link_to post_path(post.id) do %>
            <table>
              <tr><td><%= image_tag post.get_image(250,250) %></td></tr>
            </table>
            <% end %>
          </div>
        <% end %>
      </div>