/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* 英語のフォントファミリーを指定 */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


header,main,footer{
  font-family: 'Merriweather', serif;
  width: 100%;
}


header{
  /*background-color: #FCE7F5;*/
  width: 100%;
}

footer{
  /*background-color: #FCE7F5;*/
  width: 100%;
}

.fullscreen {
  width: 100%;
  margin: 0; 
  padding: 0; 
  overflow: visible; 
  flex: 1;
}


h1{
    /*見た目の調整*/
    color:#fff;
    text-shadow: 0 0 15px #666;
}
/*ユーザーアイコンを丸く表示*/
.icon {
  width: 60px;
	height: 60px;
	object-fit: cover;
	border-radius: 50%;
}

.button-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding: 8px .8em;
  line-height: 1.15385;
  border-radius: 6px;
  border: none;

  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-12:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}


.button-13 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button-13:hover {
  background-color: #f7fafa;
}

.button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

.button-14 {
  background-color: #AFDCEC;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button-14:hover {
  background-color: #f7fafa;
}

.button-14:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}
.menu {
  font-size: 25px;
  color: white;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
}
.fas,.far,.fab{
  color: black;
}

.link{
  color: black;
  text-decoration: none;
}

/* ここから下がハンバーガーメニューに関するCSS */
.hamburger {
  display: none;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .hamburger {
    display: flex;
  }
}

.hamburger .bar {
  width: 40px;
  height: 3px;
  background: #333;
  border-radius: 2px;
  display: block;
  position: relative;
  z-index: 3;
  transition: all 0.3s;
}

.hamburger .bar-top {
  transform: translate(0, -12px);
}

.hamburger .bar-bottom {
  transform: translate(0, 12px);
}

.checkbox:checked ~ .hamburger .bar-middle {
  opacity: 0;
}

.checkbox:checked ~ .hamburger .bar-top {
  transform: translate(0, 0) rotate(45deg);
}

.checkbox:checked ~ .hamburger .bar-bottom {
  transform: translate(0, 0) rotate(-45deg);
}

.checkbox {
  display: none;
}

.nav-menu {
  position: static;
  width: 100%;
}
@media screen and (max-width: 700px) {
  .nav-menu {
    position: fixed;
    z-index: 2;
    width: 170px;
    height: 100%;
    background: #87ceeb;
    opacity: 0.8;
    color: #fff;
    top: 0;
    right: -100%;
    transition: all 0.5s;
  }
}

.nav-menu ul {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 700px) {
  .nav-menu ul {
    margin-top: 100px;
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .nav-menu li {
    margin-bottom: 30px;
  }
}

.nav-menu a {
  text-align: center;
  font-size: 16px;
}

.checkbox:checked ~ .nav-menu {
  right: 0;
}

.bottom-nav{
  font-size: 25px;
}

@media screen and (max-width: 700px) {
  img {
    width: 100%;
    margin: 0 auto;
  }
  .flash{
    width: 100%;
    font-size: 13px;
  }
  .new_posts_container {
    display: flex;
	  flex-wrap: wrap;
	  flex-basis: calc(10% - 10px); 
  }
}
