// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#video-area{
    position: fixed;
    z-index: 1;/*最背面に設定*/
    top: 0;
    right:0;
    left:0;
    bottom:0;
    overflow: hidden;
}

#video {
    /*天地中央配置*/
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*縦横幅指定*/
    width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
    height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
    min-height: 100%;
    min-width: 100%;
}
h1{
  z-index: 2;
  font-family: 'Playfair Display', serif;
  color:#fff;
  text-shadow: 0 0 15px #666; 
}
/*見出し設定*/
.main-text{
    /*要素の配置*/
    position:absolute;
    z-index: 2;
    /*要素を天地中央寄せ*/
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    /*見た目の調整*/
    font-family: 'Playfair Display', serif;
    color:#fff;
    text-shadow: 0 0 15px #666;
}
.text-content {
  text-align: center; /* テキストを中央揃え */
}

/*========= レイアウトのためのCSS ===============*/

#container{
  background:#fff;
  padding:300px 0;
  text-align: center;
}


.new_posts_container {
  display: flex;
  align-items: flex-start; /* 上端に寄せる */
}

.new_posts {
  flex-basis: calc(10% - 10px); /* 幅を調整（要素の数に合わせて調整が必要かもしれません） */
}


// .slider {
//   width: 100%;
// 　margin: 0 auto;
// }
// .slider-item {
//   width: 30%;
//   float: left;
// }
// .newpost_image{
//   width: 100%;
// }
// .slider-inner {
//   width: 100%;
//   animation: slider 15s infinite ease;
// }

// @keyframes slider {
// 	0% {
// 	transform: translateX(0);
// 	}
// 	15% {
// 	transform: translateX(-300px);
// 	}
// 	33% {
// 	transform: translateX(-500px);
// 	}
// 	50% {
// 	transform: translateX(-700px);
// 	}
// 	66% {
// 	transform: translateX(-900px);
// 	}
// 	85% {
// 	transform: translateX(-700px);
// 	}
// 	100% {
// 	transform: translateX(0);
// 	}
// }

.newpost_image {
    width:100%;/*スライダー内の画像を横幅100%に*/
    height:auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin:0 10px;/*スライド左右の余白調整*/
}