// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1{
  z-index: 2;
  font-family: 'Playfair Display', serif;
  color:#fff;
  text-shadow: 0 0 15px #666; 
}
/*見出し設定*/

.about {
  width: 100%;
  margin: 0; 
  padding: 0; 
  overflow: visible; 
  flex: 1;
  background-color: #B4CFEC;
}

.main-text{
    /*要素の配置*/
    position:relative;
    z-index: 2;
    /*見た目の調整*/
    font-family: 'Playfair Display', serif;
    color:#fff;
    text-shadow: 0 0 15px #666;
    margin: 10px 10px 10px 10px;
    border: 1px solid #0000ff;
    border-radius: 5px;
    padding: 5px;
}
.text-content {
  text-align: center; /* テキストを中央揃え */
}

.About_text1{
  position:relative;
  top: -500px;
  left: -100px;
  color: #1569C7;
  z-index: 1;
  font-size: 40px;
}
.About_text2{
  position:relative;
  top: -350px;
  left: -100px;
  color: 	#1569C7;
  z-index: 1;
  font-size: 35px;
}
.About_text3{
  position:relative;
  top: -200px;
  left: -100px;
  color: 	#1569C7;
  z-index: 1;
  font-size: 30px;
}
/*========= レイアウトのためのCSS ===============*/

#container{
  background:#fff;
  padding:300px 0;
  text-align: center;
}


.new_posts_container {
  display: flex;
  align-items: flex-start; /* 上端に寄せる */
}

.new_posts_icon {
  flex-basis: calc(10% - 10px); /* 幅を調整（要素の数に合わせて調整が必要かもしれません） */
}

.menu{
  border-bottom: dotted 3px black;
}

// 文字アニメーション
